/* navbar */
* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(24, 36, 36);
}
.logo {
  width: 10px;
  height: 10px;
}
h1 {
  color: white;
}
label {
  color: white;
}
p {
  color: white;
}

.navbar {
  overflow: hidden;
  background-color: gray;
}
.navbar .right {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar .left {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar .right:hover {
  background-color: #ddd;
  color: black;
  transition: 0.4s ease-in-out;
}

.navbar .left:hover {
  background-color: #ddd;
  color: black;
  transition: 0.4s ease-in-out;
}

.titulo {
  text-align: center;
}

.form {
  position: relative;
  justify-content: space-around;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: yellowgreen; */
}
.button {
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: darkgray;
  transition: ease-in-out;
}

.button:hover {
  background-color: black;
  transition: 0.4s ease-in-out;
}

.input-text {
  width: 72%;
  padding: 12px 20px;
  margin: 5px;
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 3px;
  transition: border 0.3s ease-in-out;
}
.input-text:hover {
  border: 2px solid cyan;
}
.input-text:focus:hover {
  border: 2px solid cyan;
}
.output-div {
  width: 70%;
  height: 20px;
  padding: 12px 20px;
  border: 2px solid gray;
  transition: border 0.3s ease-in-out;
}
.output-div:hover {
  border: 2px solid cyan;
}
