/* navbar */
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(24, 36, 36);
}
.page-content {
  min-height: 150vh;
}
.logo {
  width: 10px;
  height: 10px;
}
h1 {
  color: white;
}
label {
  color: white;
}
p {
  color: white;
}

.navbar {
  overflow: hidden;
  background-color: gray;
}
#logo {
  color: yellow;
  font-size: 17px;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar .left {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar .right:hover {
  background-color: #ddd;
  color: black;
  transition: 0.4s ease-in-out;
}

.navbar .left:hover {
  background-color: #ddd;
  color: black;
  transition: 0.4s ease-in-out;
}
.navbar .icon {
  display: none;
}
.navbar .right.active {
  background-color: #4caf50;
  color: white;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.titulo {
  text-align: center;
}

.form {
  position: relative;
  justify-content: space-around;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: yellowgreen; */
}
.button {
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: darkgray;
  transition: ease-in-out;
}

.button:hover {
  background-color: black;
  transition: 0.4s ease-in-out;
}

.input-text {
  width: 72%;
  height: 50px;
  color: white;
  padding: 12px 20px;
  margin: 5px;
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 3px;
  transition: border 0.3s ease-in-out;
  background-color: rgb(24, 36, 36);
}
.input-text:hover {
  border: 2px solid cyan;
}
.input-text:focus:hover {
  border: 2px solid cyan;
}
.output-text {
  width: 72%;
  height: 50px;
  padding: 12px 20px;
  margin: 5px;
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 3px;
  color: white;
  transition: border 0.3s ease-in-out;
  background-color: rgb(24, 36, 36);
}
.output-text:hover {
  border: 2px solid cyan;
}
.output-text:focus:hover {
  border: 2px solid cyan;
}
#errorbox {
  width: 500px;
  overflow: hidden;
  background: #f1f1f1;
  box-shadow: 0 0 20px black;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  padding: 10px;
  text-align: center;
  display: none;
}

#errorbox h1 {
  color: black;
}

#errorbox i {
  color: red;
  font-size: 40px;
  display: block;
  margin: 20px 0;
}
.close {
  font-size: 18px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  background: #3498db;
  display: inline-block;
  border-radius: 4px;
}
#errorbox-2 {
  width: 500px;
  overflow: hidden;
  background: #f1f1f1;
  box-shadow: 0 0 20px black;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  padding: 10px;
  text-align: center;
  display: none;
}

#errorbox-2 h1 {
  color: black;
}

#errorbox-2 i {
  color: green;
  font-size: 40px;
  display: block;
  margin: 20px 0;
}
.close1 {
  font-size: 18px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  background: #3498db;
  display: inline-block;
  border-radius: 4px;
}

#errorbox-3 {
  width: 500px;
  overflow: hidden;
  background: #f1f1f1;
  box-shadow: 0 0 20px black;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  padding: 10px;
  text-align: center;
  display: none;
}

#errorbox-3 h1 {
  color: black;
}

#errorbox-3 i {
  color: red;
  font-size: 40px;
  display: block;
  margin: 20px 0;
}
.close2 {
  font-size: 18px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  background: #3498db;
  display: inline-block;
  border-radius: 4px;
}
.close:hover {
  background: rgb(52, 191, 219);
  transition: 0.3s ease-in-out;
}
.close1:hover {
  background: rgb(52, 191, 219);
  transition: 0.3s ease-in-out;
}
.close2:hover {
  background: rgb(52, 191, 219);
  transition: 0.3s ease-in-out;
}

/*Footer*/

footer {
  background: darkgray;
  padding: 20px 0;
  width: 100%;
  bottom: 0;
  position: fixed;
}

.footer-container {
  max-width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.ismai {
  width: 180px;
}

@media screen and (max-width: 960px) {
  .footer-container {
    max-width: 600px;
  }
  .right-col {
    width: 100%;
    margin-bottom: 60px;
  }

  .left-col {
    width: 100%;
    text-align: center;
  }
}
